<!DOCTYPE html>
<html>
  <head>
    <title>STILE art bot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'vue_app' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes">

    <% if @board %>
      <meta name="board-id" content="<%= @board.id %>">
    <% end %>
  </head>

  <body>
    <div class="container-fluid" id="app">
      <h1>
        STILE art bot
      </h1>
      <%= button_to "log out", destroy_user_session_path, method: :delete, class: "btn btn-md btn-primary float-right" if current_user%>
      <% if current_user.present? %>
        <h2>
          <%= image_tag current_user.image, class: "profile-image" if current_user.image %>
          <%= link_to current_user.username, "https://twitter.com/#{current_user.username}" %>
        </h2>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
