<!DOCTYPE html>
<html>
  <head>
    <title>Moodboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'vue_app' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes">

    <% if @board %>
      <meta name="board-id" content="<%= @board.id %>">
    <% end %>
  </head>

  <body>
    <div class="container-fluid" id="app">
      <h1>
        <%= link_to "moonboard", root_path %>
      </h1>
      <div class="tower">
        <%= image_tag "tower_lineart_light_blue.png" %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
